.select {
    position: relative;
    max-width: 240px;
    width: 100%;
}

.control {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #54F4DF;
    background: rgba(52, 196, 246, 0.10);

    font-family: "Sofia Sans";
    color: #BAC1CC;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    padding: 9px;
    line-height: 20px;
    cursor: pointer;
}

.list {
    display: flex;
    position: absolute;
    top: 44px;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
    background-color: #2B2C36;
    border-radius: 4px;
    border: 1px solid rgba(71, 194, 233, 0.18);
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 7px 24px;
    border: 1px;
    cursor: pointer;
    border-bottom: 1px solid rgba(186, 193, 204, 0.10);

    font-family: "Sofia Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.4;
    color: #BAC1CC;
}

.option:last-of-type {
    border-bottom: 0px;
}

.option__arrow {
    width: 14px;
    height: 14px;
}
  